<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formación Académica</title>
    <link rel="stylesheet" href="../CSS/styles.css">

</head>
<body>
    <div class="container">
        <!------------------------------------------------>
                <h2>Experiencia Laboral</h2>
                <div class="separador">
                    <hr />
                    <span> 0 </span>
                    <hr />
                </div>
                <br>
        <!------------------------------------------------>
        <form id="formulario3" > <!style="display: none;">
            <!------------------------------------------------>
                <div class="grupo">
                    <label for="institucion">Institución Educativa *</label>
                    <input type="text" clase="institucion" name="institucion" required>
                </div>
            <!------------------------------------------------>
                <div class="grupo">
                    <label for="institucion">Especialidad *</label>
                    <input type="text" clase="Especialidad" name="Especialidad" required>
                </div>
            <!------------------------------------------------>
                <div class="grupo">
                    <label for="institucion">Inicio *</label>
                    <input type="date" clase="inicio" name="inicio" required>
                </div>
            <!------------------------------------------------>
            <div class="grupo">
                <label for="institucion">Fin *</label>
                <input type="date" clase="fin" name="fin" required>
            </div>
            <!------------------------------------------------>
            <div class="grupoGenero">
                <p>Grado *
                    <br>
                    <input type="radio" name="hm" value="1"> Universitario
                    <br>
                    <input type="radio" name="hm" value="2"> Terciario
                    <br>
                </p>
            </div>
            <!------------------------------------------------>
            <button type="button">Continuar</button>
            <button type="button">Atrás</button>
            <!------------------------------------------------>
        </form>
    </div>
</body>
</html>